name: CI and automatic releases
on:
  push:
    branches-ignore: [gh-pages]
jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: "ci-${{ matrix.os }}"  # Do not change; used by protected branches
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Build project
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build dokkaHtml --scan
      # - uses: eskatos/gradle-command-action@v1
      #   with:
      #     arguments: jacocoTestCoverageVerification

  release:
    needs: ci
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install Node.js dependencies
        run: npm install

      - name: Generate docs
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: dokkaHtml
      # Ridiculous workaround for https://github.com/Kotlin/dokka/issues/163
      - name: Move Dokka's assets into a sensible place
        run: |
          set -x -o nounset -o errexit -o pipefail
          cd ./build/dokka/html
          mv ./styles ./images ./scripts navigation.html ./lib/
          find ./lib/ -name '*.html' -print0 | xargs -0 sed -i 's;../styles/;styles/;g'
          find ./lib/ -name '*.html' -print0 | xargs -0 sed -i 's;../images/;images/;g'
          find ./lib/ -name '*.html' -print0 | xargs -0 sed -i 's;../scripts/;scripts/;g'
          find ./lib/ -name '*.html' -print0 | xargs -0 sed -i 's;pathToRoot = "../;pathToRoot = ";g'
          sed -i 's;href="relaydroid/;href=";g' ./relaydroid/navigation.html

      - name: Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BINTRAY_USERNAME: relaybot
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}

      - name: Publish documentation
        uses: peaceiris/actions-gh-pages@v3.6.1
        with:
          publish_branch: gh-pages
          publish_dir: ./build/dokka/html/relaydroid
          allow_empty_commit: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
